body {
    margin: 0;
    height: 100vh;
    background-color: #141519;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card {
    background-color: #1f2630;
    width: 350px;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    color: white;
}
.star {
    background-color: #262f38;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
h2 {
    margin: 10px 0;
}
p {
    font-size: 14px;
    color: #b5b7ba;
}
.ratings {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.ratings span {
    background-color: #262f38;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
button {
    width: 100%;
    padding: 12px;
    border-radius: 30px;
    border: none;
    background-color: orange;
    color: black;
    font-weight: bold;
    cursor: pointer;
}